#large{
    color:aqua;
    font-weight: bold;
    font-size:x-large;
}
.landing{
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg");
}